@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
    font-family: 'EastmanVariable';
    src: url('/fonts/EastmanVariable.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Revans-Light';
    src: url('/fonts/Revans-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-body: 'EastmanVariable';
    --font-heading: 'Revans-Light';
    --color-brown-default: #a38d78;
    --color-brown-70: #a38d78;
    --color-brown-50: #cbb9a4;
    --color-brown-10: #e6dbc9;
    --color-main: #faf9f5;
    --color-gray-10: #f5f1ea;
    --color-gray-20: #e8e8e8;
    --color-gray-70: #4a4a4a;
    --color-dashboard-action: #1e2938;
}

@keyframes bounce-once {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #faf9f4;
        --foreground: #191f2f;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

.animate-bounce-once {
    animation: bounce-once 1s ease-in-out 1; /* 1 iteration, stops after one bounce */
}

/* If you want it to bounce 3 times and then stop */
.animate-bounce-3 {
    animation: bounce-once 1s ease-in-out 3;
}
